$item-top-margin: 0.4em;
$item-bottom-margin: 0.54em;

.search-controls {
  margin-top: 0.25em;
  margin-bottom: 0.25em;
}

.search-controls__button-toolbar {
  display: flex;
  justify-content: flex-end;
  margin-top: $item-top-margin;
  margin-bottom: $item-bottom-margin;
}

.search-controls__progress-viewer {
  margin-top: $item-top-margin;
  margin-bottom: $item-bottom-margin;
}

.search-status {
  margin-bottom: 0;
  line-height: 1;
  font-size: 13px;
  text-align: center;
}

.search-controls__progress-bar {
  margin-bottom: 0;

  /* bootstrap class */
  .progress-bar {
    color: #212121;
  }
}

