# dependencies:
node_modules/

# production:
dist/
build/

# TEMP (will be replaced by "dist" or "build" later):
public/

# environment variables
**/.env

# .eslintrc.json
# .eslintignore

# misc
.DS_Store

npm-debug.log*
yarn-debug.log*
yarn-error.log*

**/.idea/
**/.vscode/
**/temp/
**/tmp/
