# dependencies:
node_modules/

# production:
build/
dist/

# src/assets/
# public/

# config/
**/.env

# .eslintrc.json
# .eslintignore

# misc
.DS_Store
yarn-error.log
npm-debug.log
**/.idea/
**/.vscode/
