.topbarnav {
  margin-right: 0;
}

.topbarnav__single {
  // margin-right: 15px;
}

.topbarnav__authenticating {
  padding-left: 5px;
}

@media (max-width: 767px) {
  .topbarnav,
  .topbarnav__single {
    a {
      text-align: right;
    }

    /* NOTE: bootstrap classes that were used previously:
    .navbar-collapse .dropdown a {
    .navbar-collapse a {
    */
  }
}
