body {
  padding-top: 58px;
  overflow-y: scroll; /* permanent scrollbar */
}

#app {
  /* height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0; */
}

.help--invisible {
  visibility: hidden;
}
