#app {
  /* height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0; */
}

.wall-posts-search {
  margin-top: 58px;

  /* width: 70%;
  height: 100%;
  margin: 10px;
  border: 1px solid rgb(111, 201, 55); */
}

.navitem {
  margin-right: 15px;
}

.nav-auth {
  margin-right: 0;
}

/* .signed-in-dropdown {

} */

.search-form {
  /* margin: 0 auto; */
  margin-bottom: 1.5rem;

  /* width: 70%; */
}

.search-form button:focus {
  outline: none;
}

.search-control-buttons {
  display: inline-block;
  margin-top: 0.25em;
}

.progress-viewer {
  float: right;
  margin-top: 0.25em;
  min-width: 63%;
}

.progress-viewer__processed-info {
  margin-bottom: 0;
  line-height: 1;
  font-size: 13px;
  text-align: center;
}

/* TODO: cut it if too long */
.progress-viewer__progress-bar {
  margin-bottom: 0;
}

/* bootstrap class */
.progress-bar {
  color: #212121;

  /* min-width: 2em; */
}

@media (min-width: 768px) {
  .search-control-buttons {
    margin-top: 1.75em;
  }

  .progress-viewer {
    margin-top: 1.75em;
  }
}

.post-timestamp {
  background-color: #d9edf7;
}
