#app {
  /* height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0; */
}

/* TODO: add permanent scrollbar ? */

@media (max-width: 767px) {
  /* NOTE: bootstrap classes */
  .navbar-collapse .dropdown a {
    text-align: right;
  }
}
