#app {
  /* height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0; */
}

.wall-posts-search {
  margin-top: 58px;

  /* width: 70%;
  height: 100%;
  margin: 10px;
  border: 1px solid rgb(111, 201, 55); */
}

.navitem {
  margin-right: 15px;
}

.nav-auth {
  margin-right: 0;
}

/* .signed-in-dropdown {

} */

.search-form {
  /* margin: 0 auto; */
  margin-bottom: 1.5rem;

  /* width: 70%; */
}

@media (min-width: 768px) {
  .search-control-buttons {
    padding-top: 25px;
  }
}

.post-timestamp {
  background-color: #d9edf7;
}
