.found-post__title {
  display: flex;
  padding-bottom: 4px;
}

.found-post__content {
  display: flex;
  justify-content: space-between;
}

.found-post__timestamp {
  background-color: #d9edf7;
  margin: 0 3px;
  padding: 0 2px;
}
