.wall-posts-page {
  // to prevent content hiding by fixed navbar
  // replaced by body padding-top (see Bootstrap docs)
  // margin-top: 58px;

  /* width: 70%;
  height: 100%;
  margin: 10px;
  border: 1px solid rgb(111, 201, 55); */
}
